<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EVE Trading Analysis</title>

	<link rel="stylesheet" href="css/plugins/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/plugins/datatables.min.css"/>
	<link rel="stylesheet" href="css/app.css"/>

	<script src="js/plugins/x2js.js"></script>
	<script src="js/plugins/jquery.min.js"></script>
	<script src="js/plugins/bootstrap.min.js"></script>
	<script src="js/plugins/vue.min.js"></script>
	<script src="js/plugins/vue-resource.min.js"></script>
	<script src="js/plugins/datatables.min.js"></script>

	<script src="db/regions.js"></script>
	<script src="db/stations.js"></script>
	<script src="db/categories.js"></script>
	<script src="db/groups.js"></script>
	<script src="db/types.js"></script>

	<script src="js/binarySearch.js"></script>
	<script src="js/apiAccess.js"></script>
	<script src="js/eveApp.js"></script>
</head>
<body>
<main id="app">
	<section id="option" class="container">
		<form class="form-horizontal">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="text-center">EVE Online Trading Analysis</h3>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Sales Tax</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.salesTax"/>
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Broker Fee</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.brokerFee"/>
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Max Volume</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.maxVolume"/>
						<span class="input-group-addon">m3</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Min Volume</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.minVolume"/>
						<span class="input-group-addon">m3</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Max Jump</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.maxJump"/>
						<span class="input-group-addon">jumps</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Min Profit</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.minProfit"/>
						<span class="input-group-addon">ISK</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Min Profit %</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.minProfitPercent"/>
						<span class="input-group-addon">%</span>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Min Profit / Jump</label>
					<div class="col-xs-6 input-group">
						<input type="text" class="form-control input-sm" v-model="config.minProfitPerJump"/>
						<span class="input-group-addon">ISK</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Regions</label>
					<div class="col-xs-6 input-group">
						<select v-model="config.regions" class="form-control" multiple>
							<option v-for="region in eveData.regions" v-bind:value="region.regionID">{{ region.regionName }}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label">Categories</label>
					<div class="col-xs-6 input-group">
						<select v-model="config.categories" class="form-control" multiple>
							<option v-for="category in eveData.categories" v-bind:value="category.categoryID">{{ category.categoryName }}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-3">
					<label class="col-xs-6 control-label"></label>
					<div class="col-xs-6 input-group">
						<label class="control control--checkbox">
							Avoid low sec
							<input type="checkbox" v-model="config.avoidLowSec"/>
							<div class="control__indicator"></div>
						</label>
					</div>
				</div>
				<div class="form-group col-xs-3 text-right">
					<button class="btn btn-sm btn-primary" v-on:click="findOrders">Refresh Data</button>
				</div>
			</div>
		</form>
	</section>
	<section id="view" class="container-fluid">
		<table id="view-table" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Item name</th>
					<th>Volume</th>
					<th>Sell Price</th>
					<th>Sell Volume</th>
					<th>Sell Station</th>
					<th>Buy Price</th>
					<th>Buy Volume</th>
					<th>Buy Station</th>
					<th>Cost</th>
					<th>Profit %</th>
					<th>Profit</th>
					<th>Profit / Jump</th>
					<th>Profit / m3</th>
					<th>Route</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Item name</th>
					<th>Volume</th>
					<th>Sell Price</th>
					<th>Sell Volume</th>
					<th>Sell Station</th>
					<th>Buy Price</th>
					<th>Buy Volume</th>
					<th>Buy Station</th>
					<th>Cost</th>
					<th>Profit %</th>
					<th>Profit</th>
					<th>Profit / Jump</th>
					<th>Profit / m3</th>
					<th>Route</th>
				</tr>
			</tfoot>
		</table>
	</section>
</main>
<script type="application/javascript">
	let eveApp = new EveApp('#app', '#view-table');
</script>
</body>
</html>